@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    position: relative;
}

aside {
    background-color: #272727;
    width: 250px;
    padding: 0 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -160px;
    transition: all .5s ease-in-out;
}

aside > div:first-child {
    display: flex;
    justify-content: right;
}


#menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 80px;
    width: 80px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
    transform: scale(0.4);
}
#menu-btn--burger {
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
#menu-btn--burger::before,
#menu-btn--burger::after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
#menu-btn--burger::before {
    transform: translateY(-15px);
}
#menu-btn--burger::after {
    transform: translateY(15px);
}

#menu-btn.opened #menu-btn--burger {
    transform: translateX(-50px);
    background: transparent;
}
#menu-btn.opened #menu-btn--burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
#menu-btn.opened #menu-btn--burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}



#menu-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
}
#menu-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}
#menu-links a:hover {
    color: #a9a9a9;
}


.opened {
    left: 0;
}