* {
    scrollbar-width: auto;
    scrollbar-color: #ebebeb #ffffff;
}
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.red-text { 
    color: #fe2c55;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 14%;
    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
header > a:first-child img {
    width: 120px;
}
header > div:nth-child(2) {
    display: flex;
    background-color: #f1f1f2;
    height: 45px;
    width: 361px;
    border-radius: 30px;
    padding: 10px 5px;
}
header > div:nth-child(2) input {
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}
header > div:nth-child(2) input::placeholder {
    font-size: 14px;
    font-weight: 500;
}
header > div:nth-child(2) a {
    width: 52px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(22, 24, 35, .12);
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div:nth-child(2) a img {
    width: 40%;
    filter: invert(59%) sepia(0%) saturate(550%) hue-rotate(91deg) brightness(104%) contrast(82%);
}
header > div:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
}
.new-video-btn {
    height: 36px;
    width: 135px;
    background-color: #fff;
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: #000;
    justify-content: center;
}
.new-video-btn svg {
    width: 20px;
}
header > div:last-child a {
    display: flex;
    align-items: center;
    color: #000;
}
.account-avatar {
    display: block;
    background-color: #6c6c6c;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
#header-account-avatar {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    background-color: #6c6c6c;
    position: relative;
}
#header-account-avatar:hover #avatar-dropdown {
    display: flex;
    z-index: 10;
}
#avatar-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #fff;
    padding: 5px 0;
    top: 20px;
    right: -10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.25);
    border-radius: 5px;
}
#avatar-dropdown a {
    width: 250px;
    display: flex;
    gap: 10px;
    color: #000;
    padding: 15px;
    transition: .4s;
}
#avatar-dropdown a:hover {
    background-color: #ededed;
}
#avatar-dropdown a p {
    font-size: 14px;
    font-weight: 600;
}
section {
    display: flex;
    justify-content: space-between;
    padding: 1% 14%;
    background-color: #f8f8f8;
    max-height: calc(100vh - 60px);
}
#message-from {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 33%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}
#message-from > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
#messages {
    overflow: hidden;
}
#messages:hover {
    overflow-y: scroll;
}
.message-item {
    display: flex;
    gap: 10px;
    padding: 8px 20px;
    transition: .1s;
    position: relative;
}
.message-item > img {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 1.5em;
    display: none;
}
.message-item:hover.message-item > img {
    display: flex;
}
.message-item:hover {
    background-color: #f3f3f3;
}
.messager-avatar {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
.message-item > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.messager-login {
    font-size: 16px;
    font-weight: 500;
}
.message-item > div span {
    display: flex;
    gap: 5px;
    align-items: center;
}
.message-item > div span h6 {
    font-size: 12px;
    font-weight: 500;
}
.message-item > div span p {
    font-size: 12px;
    font-weight: 400;
}
#message-part {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 65%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}
#messager-info {
    display: flex;
    gap: 10px;
    padding: 10px 1.5%;
    border-bottom: 1px solid #ededed;
}
#messager-info > span:first-child {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
#messager-info > span:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#messager-info > span:last-child p {
    font-size: 14px;
}
#messager-info > span:last-child p:first-child {
    font-weight: 600;
}
#all-messages-from {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 15px;
    gap: 15px;
}
#all-messages-from:hover {
    overflow-y: scroll;
}
#all-messages-from > div {
    display: flex;
    gap: 10px;
}
#all-messages-from > div span:first-child {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
#all-messages-from > div span:last-child {
    background-color: #6c6c6c;
    width: 180px;
    height: 320px;
    border-radius: 8px;
}
#send-message-wrap {
    border-top: 1px solid #ededed;
    padding: 15px;
}
#send-message {
    background-color: #f1f1f2;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 10px;
    align-items: center;
}
#send-message input {
    width: 95%;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
}