* {
    scrollbar-width: auto;
    scrollbar-color: #ebebeb #ffffff;
}
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.red-text { 
    color: #fe2c55;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 14%;
    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
header > a:first-child img {
    width: 120px;
}
header > div:nth-child(2) {
    display: flex;
    background-color: #f1f1f2;
    height: 45px;
    width: 361px;
    border-radius: 30px;
    padding: 10px 5px;
}
header > div:nth-child(2) input {
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}
header > div:nth-child(2) input::placeholder {
    font-size: 14px;
    font-weight: 500;
}
header > div:nth-child(2) a {
    width: 52px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(22, 24, 35, .12);
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div:nth-child(2) a img {
    width: 40%;
    filter: invert(59%) sepia(0%) saturate(550%) hue-rotate(91deg) brightness(104%) contrast(82%);
}
header > div:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
}
.new-video-btn {
    height: 36px;
    width: 135px;
    background-color: #fff;
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: #000;
    justify-content: center;
}
.new-video-btn svg {
    width: 20px;
}
header > div:last-child a {
    display: flex;
    align-items: center;
    color: #000;
}
.account-avatar {
    display: block;
    background-color: #6c6c6c;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
#header-account-avatar {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    background-color: #6c6c6c;
    position: relative;
}
#header-account-avatar:hover #avatar-dropdown {
    display: flex;
    z-index: 10;
}
#avatar-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #fff;
    padding: 5px 0;
    top: 20px;
    right: -10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.25);
    border-radius: 5px;
}
#avatar-dropdown a {
    width: 250px;
    display: flex;
    gap: 10px;
    color: #000;
    padding: 15px;
    transition: .4s;
}
#avatar-dropdown a:hover {
    background-color: #ededed;
}
#avatar-dropdown a p {
    font-size: 14px;
    font-weight: 600;
}

section {
    padding: 0 0 0 14%;
    display: flex;
    max-height: calc(100vh - 60px);
    /* justify-content: space-between; */
}
#section-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    width: 25%;
    overflow: hidden;
    transition: .4s;
}
#section-left:hover {
    overflow-y: scroll;
}
#main-left-menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.side-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #000;
}
.side-line {
    display: flex;
    width: 98%;
    border-bottom: 0.5px solid #1618231F;
}
.side-account {
    display: flex;
}
.main-left-recomendation {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.main-left-recomendation > p {
    font-size: 14px;
    font-weight: 500;
}
.main-left-recomendation > p:last-child {
    color: #fe2c55;
    font-weight: 600;
}
.side-account {
    display: flex;
    gap: 10px;
}
.side-account h6 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}
.side-account p {
    font-size: 12px;
    color: #161823BF;
}
#section-left footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#section-left footer p {
    font-size: 10px;
    font-weight: 500;
}
#section-left footer > span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#section-left footer > span > span {
    display: flex;
    gap: 5px;
}
#section-left footer span p:hover {
    cursor: pointer;
    text-decoration: underline;
}
#section-right {
    width: 58%;
    padding: 4% 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}
#section-right:hover {
    overflow-y: scroll;
}
#finded-accounts { 
    display: flex;
    flex-direction: column;
}
#finded-accounts > span {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-top: 1px solid #ebebeb;
}
#finded-accounts > span p {
    font-weight: 700;
}
#finded-accounts > span a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.finded-account--item {
    display: flex;
    padding: 15px 20px;
    gap: 20px;
    border-bottom: 1px solid #e1e1e1;
    transition: .4s;
    color: #000;
}
.finded-account--item:hover {
    background-color: #f3f3f3;
}
.finded-account--item .finded-avatar {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
.finded-account--item > span:last-child {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.finded-account--item > span:last-child h3 {
    font-size: 16px;
}
.finded-account--item > span:last-child p {
    font-size: 12px;
}
#finded-videos {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 20px;
}
#finded-videos > p {
    font-weight: 700;
}
.search-video-row {
    display: flex;
    justify-content: space-between;
}
.search-row--item {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 8px;
}
.item-video {
    display: flex;
    background-color: #6c6c6c;
    color: #fff;
    width: 100%;
    height: 310px;
    align-items: flex-end;
    padding: 12px 10px;
    font-weight: 600;
    border-radius: 5px;
}
.search-row--item > div {
    display: flex;
    justify-content: space-between;
}
.search-row--item > div > span {
    display: flex;
    align-items: center;
    gap: 3px;
}
.search-row--item > div > span p {
    color: #161823BF;
}
.item-desc {
    font-size: 16px;
    font-weight: 500;
}
.item-avatar {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #6c6c6c;
    border-radius: 100%;
}