* {
    scrollbar-width: auto;
    scrollbar-color: #ebebeb #ffffff;
}
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.red-text { 
    color: #fe2c55;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5%;
    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
header > a:first-child img {
    width: 120px;
}
header div:nth-child(2) {
    display: flex;
    background-color: #f1f1f2;
    height: 45px;
    width: 361px;
    border-radius: 30px;
    padding: 10px 5px;
}
header div:nth-child(2) input {
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}
header div:nth-child(2) input::placeholder {
    font-size: 14px;
    font-weight: 500;
}
header div:nth-child(2) a {
    width: 52px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(22, 24, 35, .12);
    display: flex;
    align-items: center;
    justify-content: center;
}
header div:nth-child(2) a img {
    width: 40%;
    filter: invert(59%) sepia(0%) saturate(550%) hue-rotate(91deg) brightness(104%) contrast(82%);
}
header div:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
}
.new-video-btn {
    height: 36px;
    width: 135px;
    background-color: #fff;
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: #000;
    justify-content: center;
}
.new-video-btn svg {
    width: 20px;
}
header div:last-child a {
    display: flex;
    align-items: center;
    color: #000;
}
.account-avatar {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    background-color: #6c6c6c;
}
#header-account-avatar {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    background-color: #6c6c6c;
    position: relative;
}
#header-account-avatar:hover #avatar-dropdown {
    display: flex;
    z-index: 10;
}
#avatar-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #fff;
    padding: 5px 0;
    top: 20px;
    right: -10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.25);
    border-radius: 5px;
}
#avatar-dropdown a {
    width: 250px;
    display: flex;
    gap: 10px;
    color: #000;
    padding: 15px;
    transition: .4s;
}
#avatar-dropdown a:hover {
    background-color: #ededed;
}
#avatar-dropdown a p {
    font-size: 14px;
    font-weight: 600;
}
section {
    padding: 0 1.5%;
    display: flex;
    max-height: calc(100vh - 60px);
    justify-content: space-between;
}
#section-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    width: 15%;
    overflow: hidden;
    transition: .4s;
}
#section-left:hover {
    overflow-y: scroll;
}
#main-left-menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.side-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #000;
}
.side-line {
    display: flex;
    width: 98%;
    border-bottom: 0.5px solid #1618231F;
}
.side-account {
    display: flex;
}
.main-left-recomendation {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.main-left-recomendation > p {
    font-size: 14px;
    font-weight: 500;
}
.main-left-recomendation > p:last-child {
    color: #fe2c55;
    font-weight: 600;
}
.side-account {
    display: flex;
    gap: 10px;
}
.side-account h6 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}
.side-account p {
    font-size: 12px;
    color: #161823BF;
}
#section-left footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#section-left footer p {
    font-size: 10px;
    font-weight: 500;
}
#section-left footer > span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#section-left footer > span > span {
    display: flex;
    gap: 5px;
}
#section-left footer span p:hover {
    cursor: pointer;
    text-decoration: underline;
}
#section-right {
    width: 85%;
    overflow: hidden;
}
#section-right:hover {
    overflow-y: scroll;
}
#main-streams {
    display: flex;
    padding: 10px 12%;
    gap: 10px;
    background-color: #ebebeb;
}
#big-stream {
    width: 85%;
    background-color: #6c6c6c;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#big-stream > div {
    height: 60px;
    align-items: center;
}
#big-stream > div:first-child {
    display: flex;
    gap: 10px;
}
#big-stream > div:first-child p {
    font-size: 14px;
    font-weight: 500;
}
#big-stream > div:last-child {
    display: flex;
    gap: 20px;
}
#big-stream > div:last-child span {
    display: flex;
    gap: 15px;
}
#big-stream > div:last-child span p {
    font-weight: 600;
    font-size: 14px;
}
.live-text {
    padding: 2px 5px;
    background: linear-gradient(131.17deg, rgb(255, 23, 100), rgb(237, 52, 149));
    color: #fff;
    border-radius: 2px;
}
#big-stream .streamer-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 100%;
}
#small-streams {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#small-streams span {
    height: 100px;
    background-color: #6c6c6c;
    display: flex;
    align-items: flex-end;
    padding: 5px;
}
#other-streams {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 2%;
}
.streams-row {
    display: flex;
    justify-content: space-between;
}
.streams-row--item {
    width: 23%;
}
.streams-row--item > span:first-child {
    height: 160px;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    justify-content: space-between;
    background-color: #6c6c6c;
    border-radius: 5px;
}
.streams-row--item > span:last-child {
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 10px;
}
.streams-row--item > span:last-child h4 {
    font-size: 16px;
    font-weight: 500;
}
.streams-row--item > span:last-child p {
    font-size: 14px;
    font-weight: 300;
    color: #16182380;
}
.row-avatar {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
